body {
  background-color: black;
  margin: 0;
}

@keyframes rotateAndScaleCoin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotateAndScaleKey {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  25% {
    transform: rotate(-25deg) scale(0.9);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  75% {
    transform: rotate(25deg) scale(0.9);
  }
  100% {
    transform: rotate(0deg) scale(0.7);
  }
}

.title-screen-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  height: 700px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  border: 1px whitesmoke solid;
  border-radius: 30px;
}

.title-screen-title {
  margin-top: 150px;
  margin-bottom: 100px;
}

.title-screen-new-game {
  height: 45px;
  width: 120px;
  border-radius: 60px;
  margin-bottom: 20px;
}

.title-screen-settings {
  height: 45px;
  width: 120px;
  border-radius: 60px;
}

dialog {
  color: wheat;
  width: 400px;
  height: 300px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: green;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.level-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.score {
  color: pink;
  font-size: 1.5rem;
  font-weight: bold;
}

.show-steps {
  color: #f0f0f0;
}
/* grid asset styling */
.wall {
  width: 100%;
}

.horizontal {
  rotate: 90deg;
}

.one-corner,
.four-end {
  rotate: 90deg;
}

.seven-corner,
.eight-end {
  rotate: 180deg;
}

.six-end,
.nine-corner {
  rotate: 270deg;
}

.coin {
  width: 50%;
  height: 50%;
  animation: rotateAndScaleCoin 4s infinite ease-in-out;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

/* world specific styling */
.world {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.one-0 {
  background-color: green;
}

.one-P {
  background-color: lightblue;
}

.one-C {
  background-color: green;
}

.player-picture {
  width: 100%;
  height: 100%;
}

.exit {
  width: 100%;
  height: 100%;
  rotate: 270deg;
  background-color: gray;
}

.two-0,
.two-C,
.two-k {
  background-color: aqua;
}

.two-P {
  background-color: orchid;
}

.inventory {
  color: white;
}

.key {
  animation: rotateAndScaleKey 20s infinite ease-in-out;
  /* background-color: aqua; */
}

.three-0,
.three-C,
.three {
  background-color: lavender;
}

.block {
  height: 100%;
}

.four-0,
.four-C,
.four-k {
  background-color: burlywood;
}

.poop {
  width: 100%;
  background-color: burlywood;
}
