body {
  background-color: black;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

@keyframes rotateAndScaleCoin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotateAndScaleKey {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  25% {
    transform: rotate(-25deg) scale(0.9);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  75% {
    transform: rotate(25deg) scale(0.9);
  }
  100% {
    transform: rotate(0deg) scale(0.7);
  }
}

.title-screen-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  height: 700px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  border: 1px whitesmoke solid;
  border-radius: 30px;
}

.title-screen-dialog {
  margin-top: 20px;
  height: 600px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.975);
  color: blue;
}

.title-screen-dialog-text {
  margin-top: 100px;
  font-weight: 800;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.title-screen-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-screen-dialog-boxart {
  width: 250px;
  height: 200px;
  opacity: 0.8;
  margin-bottom: 50px;
  border-radius: 10px;
}

.title-screen-dialog-button {
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.title-screen-title {
  margin-top: 120px;
  margin-bottom: 10px;
}

.title-screen-face {
  margin-bottom: 100px;
}

.title-screen-new-game {
  height: 45px;
  width: 120px;
  border-radius: 60px;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

.title-screen-settings {
  height: 45px;
  width: 120px;
  border-radius: 60px;
  font-family: "Courier New", Courier, monospace;
}

.title-screen-subtitle {
  margin-top: 75px;
  font-weight: 200;
  letter-spacing: -2px;
}

.name {
  color: cyan;
}

.title-screen-music-button {
  font-family: "Courier New", Courier, monospace;
  border-radius: 60px;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 0.5rem;
  background-color: rgba(255, 255, 255, 0.602);
}

.settings-dialog {
  background-color: rgba(67, 89, 161, 0.951);
}

.settings-main-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.settings-title {
  font-size: 2rem;
  text-decoration: underline;
  letter-spacing: 2px;
}

.settings-input-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #f0f0f0;
  letter-spacing: 0.8px;
}

.settings-button {
  border-radius: 5px;
  width: 100px;
  height: 25px;
  letter-spacing: 0.5px;
  font-family: "Courier New", Courier, monospace;
}

dialog {
  color: wheat;
  width: 400px;
  height: 300px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: green;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gameover-dialog {
  background-color: #352b42e4;
}

.gameover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameover-title {
  text-decoration: underline;
  font-size: 35px;
  margin-bottom: 15px;
}

.gameover-button {
  border-radius: 5px;
  letter-spacing: 0.8px;
  height: 25px;
  font-family: "Courier New", Courier, monospace;
}

.game-settings-button {
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-top: -15px;
  background-color: rgba(255, 255, 255, 0.45);
}

.level-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.score {
  color: pink;
  font-size: 1.5rem;
  font-weight: bold;
}

.show-steps {
  color: #f0f0f0;
}

.restart-world-button {
  font-family: "Courier New", Courier, monospace;
  border-radius: 15px;
  width: 150px;
  height: 25px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.362);
}

/* grid asset styling */
.wall {
  width: 100%;
}

.horizontal {
  rotate: 90deg;
}

.one-corner,
.four-end {
  rotate: 90deg;
}

.seven-corner,
.eight-end {
  rotate: 180deg;
}

.six-end,
.nine-corner {
  rotate: 270deg;
}

.coin {
  width: 50%;
  height: 50%;
  animation: rotateAndScaleCoin 4s infinite ease-in-out;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  height: 400px;
}

/* world specific styling */
.world {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.one-0,
.one-C {
  background-color: #8ab060;
}

.one-P {
  background-color: #ede19e;
  letter-spacing: -1.25px;
}

.player-picture {
  width: 100%;
  height: 100%;
}

.exit {
  width: 100%;
  height: 100%;
  rotate: 270deg;
  background-color: gray;
}

.two-0,
.two-C,
.two-k {
  background-color: #e5ceb4;
}

.two-P {
  background-color: #d3a068;
  letter-spacing: -1.25px;
}

.inventory {
  color: white;
}

.key {
  animation: rotateAndScaleKey 20s infinite ease-in-out;
}

.three-0,
.three-C,
.three,
.button-three {
  background-color: lavender;
}

.three-P {
  background-color: rgb(216, 71, 173);
  letter-spacing: -1.25px;
}

.block {
  height: 100%;
}

.four-0,
.four-C,
.four-k,
.button-four,
.four {
  background-color: #6a536e;
}

.four-P {
  background-color: #352b42;
  color: pink;
  font-weight: bold;
  letter-spacing: -1.25px;
}

.poop {
  width: 100%;
  background-color: burlywood;
}

.winning-dialog-main {
  background-color: #cf8accf8;
  color: #ede19e;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.winning-win {
  margin-top: 30px;
  margin-bottom: -20px;
}

.winning-congrats {
  margin-top: 50px;
  margin-bottom: 35px;
  text-decoration: underline;
}

.winning-button {
  border-radius: 5px;
  width: 120px;
  height: 25px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
}

.winning-button-poop {
  border-radius: 5px;
  width: 200px;
  height: 25px;
  letter-spacing: 0.5px;
  display: inline-block;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
}
